:root {
    --yellow: #FCF201;
    --violet: #6F63AD;
    --light: #F3F3F3;
    --white: #FFFFFF;
    --dark: #082340;
}

html, body {
    background-color: var(--dark);
    padding: 0;
    margin: 0;
    color: var(--light);
    font-size: 135%;
}

.container {
    margin-top: 1%;
}

.img-fluid {
    max-width: 150px;
}

.card {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    max-width: 400px;
    max-height: 600px;
    background-color: var(--light);
    display: inline-block;
}

.card:hover {
    box-shadow: 3px 3px 3px var(--yellow);
}

.card-title {
    color: var(--violet);
}

.card-text {
    color: var(--dark);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.btn-primary {
    background-color: var(--yellow);
    color: var(--dark);
    border: none;
}

.btn-primary:hover {
    background-color: var(--yellow);
    color: var(--dark);
    border: none;
    box-shadow: 2px 2px 2px     #6F63AD;
}

h1,h5 {
    color: var(--yellow);
}

.down {
    margin-top: 15px;
}

.left-column {
    width: 65%;
}

a {
    background-color: var(--light);
    color: var(--violet);
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
}

.skill-link {
    color: var(--violet);
    padding: 1px;
    border: 2px dashed var(--violet);
    background-color: var(--dark);
    color: var(--light);
}

.job-title {
    background-color: var(--violet);
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
}

footer {
    margin-top: 25px;
    text-align: center;
    width: 100%;
    padding: 15px;
    background-color: var(--yellow);
    color: var(--dark);
}